<div class="right_col" role="main">
    <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2> Service Creation </h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <%= form_for(:service, :url => {:action => 'create_service', :id => @service.id}) do |f| %>

                        <% @action = "add_service" %>

                        <div class="row">
                            <%= render(:partial => "service_form", :locals => {:f => f}) %>
                            <div class="col-sm-8 col-sm-offset-2">
                                <br/>
                                <%= submit_tag("Submit", :class => "btn-primary btn") %>
                                <%= link_to("Cancel",{:controller => 'shops', :action => 'services', :shop_id => @shop.id}, :class => "btn-danger btn") %>
                            </div>
                        </div>
                        <br/><br/>
                    <% end %>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->