<div id="page-wrapper">
	<div class="graphs">
		<div class="xs tabls">
			<div class="panel panel-info" data-widget="{&quot;draggable&quot;: &quot;false&quot;}" data-widget-static="">
				<div class="panel-heading">
					<% if !@confirmation %>
						<h2> Confirm Shop </h2>
					<% else %>
						<h2> Unconfirm Shop </h2>
					<% end %>
					<div class="panel-ctrls" data-actions-container="" data-action-collapse="{&quot;target&quot;: &quot;.panel-body&quot;}"><span class="button-icon has-bg"><i class="ti ti-angle-down"></i></span></div>
				</div>
				<%= form_for(:shop, :url => {:action => 'toggle_confirmation', :shop_id => @shop.id, :confirmation => @confirmation}) do |f| %>

					<% if !@confirmation %>
						<p>Are you sure you want to confirm the shop ?</p>
					<% else %>
						<p>Are you sure you want to Unconfirm the shop ?</p>
					<% end %>
					<br/>
				    <p> <div class="info"><%= @shop.name %></p>
				    <br/>
				    <% if !@confirmation %>
				    	<%= submit_tag("Confirm", :class => "btn-success btn") %>
					<% else %>
				    	<%= submit_tag("Unconfirm", :class => "btn-danger btn") %>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>