<div class="right_col" role="main">
    <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2> Add Customer Handling </h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <%= form_for(:free_busy, :url => {:action => 'create', :id => @free_busy.id, :shop_id  => @shop.id}) do |f| %>

                        <% @action = "add freebusy" %>

                        <div class="row">
                            <%= render(:partial => "form", :locals => {:f => f}) %>
                            <div class="col-sm-8 col-sm-offset-2">
                                <br/>
                                <%= submit_tag("Submit", :class => "btn-primary btn") %>
                                <%= link_to("Cancel",{:controller => 'free_busy', :action => 'index', :id => @shop.id}, :class => "btn-danger btn") %>
                            </div>
                        </div>
                        <br/><br/>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>