
<!-- footer content -->
<footer>
  <div class="pull-right">
    &copy; Instabookr - 2016 &nbsp; &nbsp;| &nbsp; &nbsp;All rights Reserved &nbsp; &nbsp;| &nbsp; &nbsp;<a href="https://google.com">Our Official Website</a>&nbsp; &nbsp;&nbsp; &nbsp;
  </div>
  <div class="clearfix"></div>
</footer>
<!-- /footer content -->
</div>
</div>

<div id="custom_notifications" class="custom-notifications dsp_none">
  <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group">
  </ul>
  <div class="clearfix"></div>
  <div id="notif-group" class="tabbed_notifications"></div>
</div>

